.met-b-des-b-1 h1 {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600px;
}
.met-b-des-b-1 h2 {
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 800px;
  margin: 0px;
}

.met-b-des-b-1 p {
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 400px;
  color: #333333ad;
  margin: 0px;
  align-content: center;
}

.met-b-des-b-1 h4 {
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 900px;
  color: #222325;
  align-content: center;
  margin: 0px;
}

.met-b-des-b-1 img {
  width: 20px;
  height: 20px;
  margin-top: 2px;
}

.met-b-des-b-1 {
  border: #3a35411f 1px solid;
  background-color: white;
  padding: 24px;
  border-radius: 10px;
  gap: 18px;
  display: flex;
  flex-direction: column;
}

.met-b-des-b-1-1 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.met-b-des-b-1-1-1 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
  border: #3a35411f 1px solid;
  padding: 20px;
  border-radius: 10px;
}

.met-b-des-b-1-1-1 div {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.icon-up {
  margin-top: 5px;
  color: #333333ad;
}

.met-b-des-b-1 img {
  color: #333333ad;
}

.des-1-1-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.kk {
  display: flex;
  justify-content: left;
}
.kk img {
  width: 70px;
}

.arrow-icon {
  font-size: 1.2em;
  transition: transform 0.2s ease-in-out;
}
.arrow-icon.open {
  transform: rotate(180deg);
}
.arrow-icon1 {
  font-size: 1.2em;
  transition: transform 0.2s ease-in-out;
}
.arrow-icon1.open {
  transform: rotate(180deg);
}

.listbayar {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.d-b {
  text-decoration: none;
}

@media (max-width: 500px) {
  /* .met-b-des-b-1 h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .met-b-des-b-1-1-1 div {
    display: none;
  }

  .met-b-des-b-1 h4 {
    font-size: 15px;
    font-weight: bold;
  } */
}
